.button {
    width: 35px;
    height: 35px;
    border: none;
    background-color: green;
    cursor: pointer;
}

.button:hover {
    background-color: hsl(120, 100%, 35%);
}

.button:active {
    background-color: hsl(120, 100%, 45%);
}

.button--remove {
    width: 35px;
    height: 35px;
    border: none;
    background-color: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button--remove:hover {
    background-color: hsl(0, 100%, 55%);
}

.button--remove:active {
    background-color: hsl(0, 100%, 65%);
}