.globalContainer {
    margin: 0 auto;
    padding: 50px;
    max-width: 1000px;
}

.section__container {
    display: flex;
    max-width: 1000px;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 2px;
    padding: 20px;
    font-weight: bold;
    font-size: large;
    align-items: center;
}

.section__subContainer {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: flex-start;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 20px;
    font-weight: bold;
    font-size: large;
    align-items: center;
}

.section__taskContainer {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    justify-content: flex-start;
    background-color: white;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 30px;
    font-weight: 400;
    font-size: large;
    align-items: center;
}