.setDoneButton {
    color: teal;
    border: none;
    background-color: transparent;
    transition: 0.35s;
}

.setDoneButton:hover {
    color: hsl(180, 100%, 35%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.setDoneButton:active {
    color: hsl(180, 100%, 45%);
    border: none;
    background-color: transparent;
}

.setDoneButton--off:disabled {
    color: teal;
    border: none;
    background-color: transparent;
}
    
.setHideButton {
    color: teal;
    border: none;
    background-color: transparent;
    transition: 0.35s;
}

.setHideButton:hover {
    color: hsl(180, 100%, 35%);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.setHideButton:active {
    color: hsl(180, 100%, 45%);
    border: none;
    background-color: transparent;
}