html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
    word-break: break-all;
}

.header {
    font-size: xx-large;
    font-weight: bold;
    margin: 0 auto;
}