.task {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    grid-gap: 15px;
    margin-bottom: 10px;
}

.task--done {
    text-decoration: line-through; 
}

.task--hidden {
    display: none;
}
