.task {
    display: grid;
}

.tasks__item {
    text-decoration: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
}

.tasks__item--done {
    text-decoration: line-through; 
}